.logininfo { 
    position: relative;
    top: 200px;
    left: 450px;
    width: 150px;
    height: 100%;
    
  
}

.singup1 { 
    position: relative;
    top: 200px;
    left: 500px;
    width: 150px;
    height: 100%;
    
  
}

.makepost { 
    position: relative;
    top: 200px;
    left: 500px;
    width: 150px;
    height: 100%;

  }

body{

}
.mov{
	color:white;
	/*position: fixed;
	transform: translate(-50%, -50%);*/

    position: relative;
	top: 7px;
    left: 60px;

}
}

   
    
}
.LF {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);}

.thanks{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.home{
    position: fixed;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);}
.submit{
    position: fixed;
    left: 45%;
    top: 55%;
    transform: translate(-50%, -50%);
}

.badge
{
    line-height: 3 !important;
    font-size: 100% !important;
    padding: 6px 100px !important;
}
.bg {
    background-image: url("aa.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%}
.whit{
	color:white;
}



.profilecss{
	position: relative;
    top: 200px;
    left: 500px;
    width: 150px;
    height: 100%;
    font-size: 1.6rem;

}

