.logininfo { 
    position: relative;
    top: 200px;
    left: 500px;
    width: 150px;
    height: 100%;
  
}

.singup1 { 
    position: relative;
    top: 200px;
    left: 500px;
    width: 150px;
    height: 100%;
  
}

.makepost { 
    position: relative;
    top: 200px;
    left: 500px;
    width: 150px;
    height: 100%;

  }

body{

    background-color: blue; /*rgba(216, 173, 109, 0.123)*/
}
.LF {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);}

.thanks{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.home{
    position: fixed;
    left: 50%;
    top: 57%;
    transform: translate(-50%, -50%);}
.submit{
position: fixed;
left: 50%;
top: 60%;
width: 250px;
height: 300px;
transform: translate(-50%, -50%);}
.bg {
    background-image: url("aa.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%}