{% extends "navbar.html" %}
    
        {% block head %}
        {% endblock %}
        {% block body %}
            <div class="pppp">
               <div class="whit">
                <h1> BAGS</h1>
                {% for i in bags%}
                    <br>    
                    <h1>{{i.title}}</h1>
                    <p> {{i.description}}</p>
                    <p>{{i.username}}</p>
                    <p>{{i.contact}}</p>
                    <br>
                {% endfor %}
                </div>
            </div>
        {% endblock %}