<!doctype html>
    <html>
        <body>
            <h1> CATEGORIES:</h1>
            <a href="{{ url_for('phones') }}">
    PHONES </a>

            <br>
            <a href="{{ url_for('bags')}}"> BAGS</a>
            <br>
            <a href="{{url_for('other')}}"> OTHER</a>
            <a href="{{ url_for('wallets')}}"> WALLETS</a>
            <br>
            <a href="{{ url_for('sunglasses')}}"> SUNGLASSES</a>
            <br>
            <a href="{{ url_for('books')}}"> BOOKS</a>
            <br>
            <a href="{{ url_for('keys')}}"> KEYS</a>
            <br>
            <a href="{{ url_for('clothes')}}"> CLOTHES</a>
            <br>
            <a href="{{ url_for('jewerly')}}"> JEWELRY</a>


        </body>
    </html>
