<!doctype html>
    <html>
        <body>
            <h1> CATEGORIES:</h1>
            <a href="{{ url_for('phones') }}">
    PHONES </a>

            <br>
            <a href="{{ url_for('bags')}}"> BAGS</a>
            <br>
            <a href="{{url_for('other')}}"> OTHER</a>
            <a href="{{ url_for('bags')}}"> WALLETS</a>
            <br>
            <a href="{{ url_for('bags')}}"> SUNGLASSES</a>
            <br>
            <a href="{{ url_for('bags')}}"> BOOKS</a><a href="{{ url_for('bags')}}"> BAGS</a>
            <br>
            <br>
            <a href="{{ url_for('bags')}}"> KEYS</a>
            <br>
            <a href="{{ url_for('bags')}}"> CLOTHS</a>
            <br>
            <a href="{{ url_for('bags')}}"> JEWELRY</a>


        </body>
    </html>
