<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="h1">
            <h1>Lost and Found</h1>    
        </div>
    </body>
    <form>
        <div class="LF">
            <input type="radio" name="LF" value="radio">Lost
            <input type="radio" name="LF" value="radio">Found
        </div>
        <div class="submit">
            <input type="submit" name="Continue">
        </div>
    </form>
</html>
