<!DOCTYPE html>
<html>
    <head>
    	
        <title>My Final Project</title>

        <!-- Required tags to make the website responsive-->
       <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

       <!-- Add Bootstrap CSS to the page -->
       <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">


        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
     	<img src="background11.jpg", {{ url_for('static', filename='style.css') }}">

		
    </head>
    <body>
    	<div class="logininfo" class="container-fluid">

        <h1>LOGIN</h1>
       		<form  class="btn btn-link" id = "sign_up_link" method = "post"> 
      
	        <input type="text" name="name" placeholder="enter full name">
	        <br>
	        <input type="password" name="password" placeholder="enter password">
	        <br>
	        <input class="btn btn-outline-dark"  type="submit" value="submit" >
	        <a href="/signup"> sign up</a>
	     
	        </form>
	       
        </div>


        <!-- Add JQuery and Bootstrap JS to the page -->
       <!-- JQuery MUST BE BEFORE BOOTSTRAP -->
       <script src="{{ url_for('static', filename='jquery.js') }}"></script>
       <script src="{{ url_for('static', filename='bootstrap.bundle.js') }}"></script>


    </body>
    
</html>
