<!DOCTYPE html>
<html>
    <head>
        <title>My Final Project</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>

    	<div class="logininfo">
        <h1>LOGIN</h1>
      
	        <input type="text" name="thename" placeholder="enter full name">
	        <br>
	        <input type="password" name="thepassword" placeholder="enter password">
	        <br>
	        <input type="submit" value="submit" >

	        
	        	
	        </form>
	        <a href="/signup">sign up</a> 
        </div>

    </body>
    <form>
        <div class="LF">
            <input type="radio" name="LF" value="radio">Lost
            <input type="radio" name="LF" value="radio">Found
        </div>
        <div class="submit">
            <input type="submit" name="Continue">
        </div>
    </form>
</html>
