<!DOCTYPE html>

<html>
<head>
	<title>make a post</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="makepost">
		<h1>what did you  find?</h1>
		<input type="text" name="describe" placeholder="title for your post ">
		
		<input type="text" name="describe" placeholder="describe the itam that you found">
		<br>
		<input type="radio" name="category" value="phones">phones
		<br>
		<input type="radio" name="category" value="wallets">wallets
		<br>
		<input type="radio" name="category" value="sunglases">sunglasses
		<br>
		<input type="radio" name="category" value="keys">keys
		<br>
		<input type="radio" name="category" value="bags">bags
		<br>
		<input type="radio" name="category" value="clothes">clothes
		<br>
		<input type="radio" name="category" value="jewelry">jewelry
		<br>
		<input type="radio" name="category" value="books">books
	</div>

</body>
</html>