{% extends "navbar.html" %}

        {% block head %}
        {% endblock %}
        {% block body %}
            <div class="pppp">
           
                <h1 class="whit"> Phones</h1>
            {% for i in phones%}
          
            	<h1 class="whit">{{i.title}}</h1>
            	
            	<p class="whit"> {{i.description}}</p>
                
                <p class="whit">{{i.username}}</p>
             
                <p class="whit">{{i.contact}}</p>
            {% endfor %}
            </div>
        {% endblock %}
        