

<!DOCTYPE html>
<html>
<head>
    <title></title>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="singup1">
            <h1> SIGN UP</h1>
            <form action="/signup" placeholder="sign up!">
            <input type="text" name="name" placeholder="enter full name">
            <br>
            <input type="password" name="password" placeholder="enter password">
            <br>
            <input type="submit" value="submit" >
    </div>

</body>
</html>