<!doctype html>
    <html>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <body class="pppp">
            <h1 class="whit"> sunglasses </h1>
            {% for i in sunglasses%}
            	<h1 class="whit">{{i.title}}</h1>
            	
            	<p class="whit"> {{i.description}}</p>
               
                <p class="whit">{{i.username}}</p>
               
                <p class="whit">{{i.contact}}</p>
            {% endfor %}
        </body>
    </html>